doctype html
html(lang='en')
head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title COMP2068-W2016
    
    link(rel='stylesheet', href='scripts/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='scripts/lib/font-awesome/css/font-awesome.min.css')
    
    script(src='scripts/lib/jquery/dist/jquery.js')
    script(src='scripts/lib/bootstrap/dist/js/bootstrap.min.js')

body