doctype html
html(lang='en-ca')
    head
    
        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            title= title
            
            link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
            link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
            
            link(rel='stylesheet', href='/lib/style.css')
            link(rel='stylesheet', href='/lib/navbar.css')
            
            script(src='/lib/jquery/dist/jquery.js')
            script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    
    body
        #content-wrapper
            #nav-wrapper
                nav.navbar-light
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/projects") Projects
                            ul
                                li
                                    a(href="#") Some Project
                                li
                                    a(href="#") Second
                                li
                                    a(href="#") Another
                                li
                                    a(href="#") Juno
                        li
                            a(href="/services") Services
                        li
                            a(href="/about") About
                        li
                            a(href="/contact") Contact
            #content
                block content
